:root {
  --main-white: #fbf9ff;
  --main-bg: #f7f6f2;
  --main-dark: #283845;
  --main-color: #f2d492;
  --main-accent: #f29559;

  background: var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.homeBG {
  background: var(--main-bg);
  box-shadow: 3px 3px 9px var(--main-dark);
  padding: 1rem;
  border-radius: 1em;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
}

.mainNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background: var(--main-dark);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.mainNav a {
  font-size: 1.5rem;
  color: var(--main-white);
  text-decoration: none;
  font-family: "Passion One", cursive;
  margin: 0.5rem 2rem;
  justify-self: center;
  align-self: center;
}

.bubbleBut {
  background: var(--main-accent);
  padding: 0.25em 1em;
  border-radius: 999em;
  text-decoration: none;
}

.profileButton {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1em;
}

.profileButton img {
  border-radius: 50%;
}

.loginBG {
  font-family: "Rajdhani", sans-serif;
  background: var(--main-bg);
  padding: 1rem;
  border-radius: 1em;
  margin-top: 8rem;
  box-shadow: 3px 3px 9px var(--main-dark);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buttonBin {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

.buttonBin button {
  display: flex;
  align-items: center;
  background: var(--main-bg);
  border-radius: 999em;
  border: none;
  padding: 1em;
  font-family: "Passion One", cursive;
  gap: 1em;
  transition: all 1s ease;
}

.buttonBin button:hover {
  background: var(--main-white);
}

.buttonBin button svg {
  font-size: 25px;
}

.dashboardBG {
  font-family: "Rajdhani", sans-serif;
  margin-top: 8rem;
}

.projectsBG {
  font-family: "Rajdhani", sans-serif;
  margin-top: 8rem;
}

.projectsBG input {
  display: none;
}

.projectsBin {
  display: flex;
  flex-flow: rows nowrap;
}

.BinCard {
  box-shadow: 3px 3px 9px var(--main-dark);
  border-radius: 1em;
  padding: 1em 4em;
  margin: 1em;
}

.ProjectPage {
  font-family: "Rajdhani", sans-serif;
  margin-top: 8rem;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

/* .ProjName {
  grid-area: 1 / 1 / 2 / 3;
  place-self: center;
}

.UserName {
  place-self: center;
} */
.ProjHead {
  grid-area: 1 / 1 / 2 / 4;
  place-self: center;
  text-align: right;
  line-height: 0.5em;
}

.ProjectPage button {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5em;
  padding: 0.5em 1em;
  justify-self: center;
  align-self: center;
  border-radius: 999em;
  border: none;
  color: var(--main-white);
  background: var(--main-accent);
  grid-area: 5 / 1 / 6 / 3;
}

.custom-file-upload {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 999em;
  justify-self: center;
  align-self: center;
  color: var(--main-white);
  background: var(--main-accent);
  grid-area: 5 / 2 / 6 / 4;
}

.custom-audio-upload {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 999em;
  justify-self: center;
  align-self: center;
  color: var(--main-white);
  background: var(--main-accent);
  grid-area: 2 / 1 / 3 / 2;
}

.ProjectPage input {
  display: none;
}

.audio-player {
  grid-area: 2 / 2 / 3 / 4;
  margin-right: 5rem;
  place-self: center stretch;
  width: auto;
}
